<div class="item-container puppeteer-loaded" fxLayout="row" fxLayoutGap="16px">
  <div class="episode-image-container" fxFlex="30" fxFlex.gt-sm="15">
    <img class="episode-image" [lazyLoad]="episode.imageUrl" [alt]="episode.title">
  </div>
  <div class="episode-container" fxLayout="column" fxLayoutGap="8px" fxFlex="60" fxFlex.gt-sm="75">
    <h2>
      <a class="title" [routerLink]="[appRoutes.BLOG, episode.blogPostId, episode.blogPostUrlHandle]">{{ episode.title }}</a>
    </h2>
    <div class="info" fxLayout="row" fxLayoutGap="8px">
      <div class="publish-date">{{ episode.pubDate | date: 'MMM d, y' }}</div>
      <div>&#8226;</div>
      <div class="duration">{{ episode.duration | date: 'm' }} min</div>
    </div>
    <div class="description" fxHide fxShow.gt-sm>
      {{ episode.description }}
    </div>
  </div>
  <div class="play-button-container" fxLayout="row" fxLayoutAlign="end center" fxFlex="10">
    <mat-icon class="play-button" inline="true" [routerLink]="[appRoutes.BLOG, episode.blogPostId, episode.blogPostUrlHandle]">play_circle_outline</mat-icon>
  </div>
</div>