rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /blogIndex/{postRef} {
      // Anyone can read posts
      allow read;
    }

    match /posts/{post} {
    	// Anyone can read posts
      allow read;
    }

    match /products/{product} {
    	// Anyone can read products
      allow read;
    }

    match /publicResources/{publicResource} {
    	// Anyone can read public resources
      allow read;
    }

    match /publicUsers/{userId} {
      // Users can only see and edit their profile if it belongs to them
      allow read, write: if isOwner(userId);
      match /navigationStamps/{navStampId} {
        allow read, write: if isOwner(userId);
      }
    }

    match /podcastFeedCache/{podcastId} {
      // Anyone can read podcasts
      allow read;
      match /podcastFeedEpisodes/{episodeId} {
        allow read;
      }
    }

    /// FUNCTIONS ///
    
    // Confirm ID of requester matches ID in database
    function isOwner(userId) {
    	return request.auth.uid == userId;
    }
  }
}