service cloud.firestore {
  match /databases/{database}/documents {

    match /posts/{post} {
    	// Anyone can read posts
      allow read;
    }

    match /products/{product} {
    	// Anyone can read products
      allow read;
    }

    match /publicResources/{publicResource} {
    	// Anyone can read public resources
      allow read;
    }

    match /publicUsers/{userId} {
      // Users can only see and edit their profile if it belongs to them
      allow read, write: if isOwner(userId);
      match /navigationStamps/{navStampId} {
        allow read, write: if isOwner(userId);
      }
    }

    /// FUNCTIONS ///
    
    // True if the user is authenticated
    function isSignedIn() {
    	return request.auth != null;
    }
    
    // Confirm ID of requester matches ID in database
    function isOwner(userId) {
    	return request.auth.uid == userId;
    }
    
    // Retrieve user data
    // Note you need to explicitly escape variables using the $(variable) syntax.
    function getUserData() {
    	return get(/databases/$(database)/documents/publicUsers/$(request.auth.uid)).data
    }
  
    function existingData() {
      return resource.data
    }

    function incomingData() {
      return request.resource.data
    }

    function currentUser() {
      return request.auth
    }
  }
}