@import '../../../../../variables';

:host {
  width: 100%;
  max-width: $max-screen-width;
}

app-page-hero {
  width: 100%;
  margin-bottom: 16px;
}

.content-body-container {
  margin-bottom: 16px;
}

.see-more-text {
  text-align: center;
  font-weight: $font-weight-medium;
  font-size: 1.2em;
  margin-left: 8px;
  margin-right: 9px;
}

.soundcloud-embed {
  width: 100%;
}