<div class="page-container" fxLayout="column" fxLayoutAlign="center center">
  <app-page-hero [heroData]="heroData"></app-page-hero>
  <div class="content-body-container" fxLayout="column" fxLayoutAlign="center center">
    <app-podcast-body></app-podcast-body>
    <div class="see-more" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <div class="see-more-text">To view our complete collection of podcasts, checkout our SoundCloud profile below.</div>
      <div class="soundcloud-embed">
        <iframe width="100%" height="600" scrolling="no" frameborder="no" allow="autoplay" [src]="sanitizedEmbededPlayerUrl"></iframe>
        <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a [href]="podcastPageUrl" title="Stake Your Wealth" target="_blank" style="color: #cccccc; text-decoration: none;">Stake Your Wealth</a></div>
      </div>
    </div>
  </div>
</div>