@import "../../../variables";

.footer-container {
  width: 100%;
  background-color: $primary;
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  color: white;
}

.footer-content {
  font-size: 14px;
  margin-bottom: 16px;
}

.title {
  font-weight: $font-weight-medium;
}

.subtopics {
  list-style: none;
  padding-left: 0;
  
}

// Removes the hyperlink effects from the nav items (and logo)
.nav-item {
  opacity: $inactive-item-opacity;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  opacity: $active-item-opacity;
}

.subscribe {
  margin-top: -8px;
}

.social-header {
  font-weight: $font-weight-medium
}

.social-icons {
  margin-top: 16px;
  height: 32px;
  opacity: $inactive-item-opacity;
}

.social-icons:hover {
  opacity: $active-item-opacity;
}

.footer-base {
  font-size: 12px;
}

.legal-link {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: $mobile-cutoff-width) {
  .social-icons {
    opacity: $active-item-opacity;
  }
}