<div class="content-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="header">
    Executive presence is a critical skill for employees and entrepreneurs who are committed to bringing their vision to life.
  </div>
  
  <div class="body-container" fxLayout="column" fxLayoutAlign="start center">
    <div class="body-intro" fxLayout="row" fxLayoutAlign="center center">
      <app-avatar-portrait [imagePath]="imagePaths.MD_AVATAR"></app-avatar-portrait>
      <div class="intro-text">
        <p>We all have what it takes to be a leader. Yet not all of us <em>are</em> leaders. There's a reason for that and we'll discuss it in a moment.</p>
      </div>
    </div>
    <div class="body-text">
      <div class="section-one">
        <p>First, let's try a quick exercise.</p>
        <p>Read the three lines below (aloud if you can) and see if you can figure out what they have in common:</p>
        <ul>
          <li>“Rather than guess, let’s see what the data shows us.”</li>
          <li>“I'm not sure we all got that. Could you walk through it again?”</li>
          <li>“That’s a great plan. Who is responsible for executing it?”</li>
        </ul>
        <!-- <p>“I respect that, but let’s see what the data shows us.”</p>
        <p>“Bring us up to speed so that we’re on the same page.”</p>
        <p>“That’s a great plan but first we’ll need the greenlight from legal.”</p> -->
        <p>They are confident. They are assertive. They are inclusive. They are authoritative.</p>
        <p>What kind of person do we associate with these characteristics?  </p>
        <p>A leader.</p>
        <p>But why is that so? What summation of leadership qualities tells us that a person is in charge and in control?</p>
        <p>At Explearning, we call this <em>Executive Presence</em>.</p>
        <p>Executive presence is a critical skill for employees and entrepreneurs alike. Individuals who exhibit executive presence are more likely to close deals, inspire colleagues, and achieve a successful long-term professional trajectory.</p>
        <p>Despite the importance of executive presence, it is an often-overlooked component of professional development and is commonly cited by HR departments as one of the most limiting deficiencies among their employees.</p>
        <p>Drawing from research in the fields of neurolinguistic programming (NLP), conversation analysis, and sociolinguistics, in this course we will explore the key components of executive presence and how to become a more professional, assertive, and authoritative individual.</p>
        <p>To make this broad topic more manageable, we have divided the essence of executive presence into three categories:</p>
        <ul>
          <li>Face-to-Face Communication</li>
          <li>Written Communication</li>
          <li>Authentic Image Projection</li>
        </ul>
        <p>Each category represents an important aspect of how others perceive you, and accordingly, each offers opportunities to project executive presence in an effective way. We will explore the nuances of each and how best to tackle the challenges they present.</p>
        <p>By the end of this web course, you’ll know how to:</p>
        <ul>
          <li>Project greater confidence and authority</li>
          <li>Be more persuasive in professional contexts</li>
          <li>Gain the respect of tough clients and colleagues</li>
          <li>Demonstrate increased professionalism and competence</li>
        </ul>
        <p>These skills will equip you to accelerate your career trajectory and expand the range of growth opportunities available to you. They represent a critical component of becoming an effective leader and living a richer, more fulfilling life.</p>
        <p>Are you ready to get started?</p>
        <p>This web course is under development and coming soon.</p>
        <p>Join the waiting list below to be notified about our early bird special when the course is released.</p>
      </div>
      <div class="waitlist-signup">
        <app-wait-list [productId]="productId"></app-wait-list>
      </div>
      <div class="section-two">
        <h2 class="section-title">What is Executive Presence</h2>
        <p>We’ve already talked about why executive presence is important. But what exactly is executive presence? How do we know if we have it? </p>
        <p>At its most fundamental level, executive presence is an impression of authority that one projects onto an audience. That audience can be a single person, a small group, or an entire auditorium.</p>
        <p>Executive presence exists in the way one comports themselves, both in person and digitally, both in speech and in writing. Those who have it inspire confidence and exude purpose.</p>
        <p>Who are executives, after all? They the decision makers. They “execute” plans of action, give directives, delegate, and shape the future of companies and society.</p>
        <p>We often think of executives in a corporate context, but in truth, executives are present in all aspects of our lives. There are executives in our government, our local communities, even in our families and friend groups. Whomever it is we look to when a decision needs to be made, that person is the executive.</p>
        <p>When we are willing to accept a decision made by someone else, when we are confident that the person making the recommendation knows what they are doing, then we know that person possesses executive presence.</p>
        <p>Are you ready to be that person?</p>
      </div>
      <div class="waitlist-signup">
        <app-wait-list [productId]="productId"></app-wait-list>
      </div>
      <div class="section-three">
        <h2 class="section-title">The Executive Presence Spectrum</h2>
        <p>Executive presence exists on a spectrum. One can possess a great deal of it, or none at all.</p>
        <p>It has less to do with how much real power a person has, as defined by a hierarchical system, and more to do with how much perceived power that person has, as defined by the impression they make on those around them.</p>
        <p>Think about it.</p>
        <p>We can all call to mind examples of people who claim to be in charge, and who may be higher than us on the corporate or social totem pole, yet whose words carry little authority, whose opinions mean very little to us.</p>
        <p>We are expected to follow their orders, or heed their advice, but for some reason, we just don’t buy what they are saying.</p>
        <p>These people <b>lack</b> executive presence.</p>
        <p>By contrast, think about colleagues in your office or people in your social circles who may be at your level of seniority or lower, and who may not posses any official executive powers, yet whose opinion you value very much, whose recommendations are often what you follow.</p>
        <p>These people have an aura of confidence around them, and somehow, whatever they say seems to hold a great deal of importance.</p>
        <p>These people <b>have</b> executive presence. </p>
        <p>Are you ready to project executive presence?</p>
      </div>
      <div class="waitlist-signup">
        <app-wait-list [productId]="productId"></app-wait-list>
      </div>
      <div class="section-four">
        <h2 class="section-title">Impression Management</h2>
        <p>At this point, it’s probably dawning on you that executive presence is in large part an exercise in impression management. It matters less about who is the boss of who, and much more about whose words carry the most weight.</p>        
        <p>This is actually a very empowering realization. Why? </p>
        <p>Because it means you don’t have to rely on promotions or sucking up in order for your voice to be heard or for you to progress in your career aspirations. Instead, it comes down to refining a few critical aspects of how you engage with others.</p>
        <p>By mastering these refinements, the people you engage with will instinctually perceive you as a credible source of information. They will recognize your authority whether or not that authority exists in an official capacity. They will place their trust in you because you will demonstrate to them that you are someone to be trusted.</p>
        <p>Throughout the rest of this course, we are going to explore the three primary modes of establishing executive presence and learn strategies for maximizing your effectiveness in each.</p>
        <p>By the end of this course, you will have a much deeper understanding of how what you say and do influences others. More importantly, you will know how to leverage this knowledge to dramatically amplify the level of executive presence you project. In turn, you will benefit from the increased trust and confidence others place in you.</p>
        <p>These are skills that will last a lifetime. And the dividends they will pay are priceless.</p>
        <p>Are you ready to invest in your future?</p>
      </div>
      <div class="waitlist-signup">
        <app-wait-list [productId]="productId"></app-wait-list>
      </div>
    </div>
  </div>
</div>
