<mat-toolbar color="primary">
  
  <!-- Logo -->
  <div>
    <a [routerLink]="appRoutes.HOME" class="logo">{{ shorthandBusinessName }}</a>
  </div>

  <!-- Nav Items: Only display if screen is md or greater -->
  <div *ngIf="(activeUrl$ | async) !== appRoutes.CHECKOUT" class="nav-items-container" fxFlex fxLayoutAlign="flex-end" fxHide fxShow.gt-sm="true" >
    <ul fxLayout="row" fxLayoutGap="24px" class="nav-items">
      
      <li class="nav-list-item">
          <a class="nav-item" routerLinkActive="nav-item-active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="appRoutes.HOME">Home</a>
      </li>
      
      <li class="nav-list-item">
          <a class="nav-item" routerLinkActive="nav-item-active" [routerLink]="appRoutes.ABOUT_ME">About Me</a>
      </li>
      
      <li class="nav-list-item">
        <a class="nav-item" routerLinkActive="nav-item-active" [routerLink]="appRoutes.WEBCOURSES">Web Courses</a>
      </li>

      <li class="nav-list-item">
        <a class="nav-item" routerLinkActive="nav-item-active" [routerLink]="appRoutes.SERVICES">Services</a>
      </li>
      
      <li class="nav-list-item">
        <a class="nav-item" routerLinkActive="nav-item-active" [routerLink]="appRoutes.BLOG">Blog</a>
      </li>

      <li class="nav-list-item">
        <a class="nav-item contact" routerLinkActive="nav-item-active" [routerLink]="appRoutes.CONTACT">Contact</a>
      </li>
    
    </ul>
  </div>

  <!-- Menue Icon: Only display if screen is sm or less -->
  <div *ngIf="(activeUrl$ | async) !== appRoutes.CHECKOUT " class="menu-button" fxFlex fxLayoutAlign="flex-end" fxHide.gt-sm>
    <button (click)="onToggleSidenav()" #matButton mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>

</mat-toolbar>
