<div appMatElevation class="product-card" fxLayout="column" fxLayout.gt-sm="row">
  
  <div class="card-image-container" fxFlex="40" fxLayout="column" fxLayoutAlign="center center" fxFlexOrder.gt-sm="2">
    <img class="card-image" [src]="product.cardImageProps.src" [alt]="product.name">
  </div>
  <div class="card-text-container" fxFlex="60" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="16px" fxFlexOrder.gt-sm="1">
    <div class="card-title" fxHide.lt-md>{{ product.name }}</div>
    <div class="card-subtitle">{{ product.productCardData.tagline }}</div>
    <div class="card-description">
      <ul class="description-highlights">
        <li *ngFor="let highlight of product.productCardData.highlights">{{ highlight }}</li>
      </ul>
    </div>
    <div class="card-action">
      <a class="action-button" mat-raised-button color="primary" [routerLink]="[appRoutes.PRODUCTS, product.id, productUrlHandle]">Learn More</a>
    </div>
  </div>
</div>
