@import "../../../../variables";

:host {
  width: 100%;
}

.box-background {
  @include background-opacity($primary, $opacity-medium);
  padding: 32px;
  width: 100%;
  max-width: $text-block-max-width;
}

.title {
  font-size: 32px;
  color: white;
}

.description {
  font-size: 16px;
  color: white;
}

.subscribe-form {
  width: 100%;
}

mat-form-field {
  max-width: $desktop-form-width;
  font-size: 16px;
}

.input-placeholder {
  color: white;
}

.email-input, .first-name-input {
  color: $accent;
}

button {
  width: 100%;
  max-width: $desktop-button-width;
  opacity: $inactive-item-opacity;
}

button:hover {
  opacity: $active-item-opacity;
}


.post-submit-message {
  color: $accent;
  text-align: center;
}

.post-submit-error {
  color: $warn;
  text-align: center;
}

@media screen and (max-width: $mobile-cutoff-width) {
  .box-background {
    padding: 16px;
  }
  
  .description {
    text-align: center;
  }

  mat-form-field {
    width: 100%;
    // max-width: $mobile-form-width;
  }

  button {
    width: 100%;
    // max-width: $mobile-button-width;
    opacity: $active-item-opacity;
  }
  
}