@import "../../../../../variables";

// This is a class is applied to the component itself, so needs the :host pseudo-class
// See: https://blog.angular-university.io/angular-host-context/
:host {
  width: 100%;
  max-width: $max-screen-width;
}

app-page-hero {
  width: 100%;
}

app-feature-icons {
  width: 100%;
}

app-subscribe {
  width: 100%;
}

.subscribe-container {
  @include background-opacity($primary, $opacity-medium);
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 16px;
  padding-right: 16px;

}

