<div class="home-content-container" fxLayout="column" fxLayoutAlign="center center">
  
  <app-page-hero [heroData]="heroData">
    <a class="hero-button" target="_blank" rel="noopener noreferrer" [href]="[remoteCoachUrl]" mat-raised-button>Remote Coach</a>
    <a class="hero-button" [routerLink]="[appRoutes.BLOG]" mat-raised-button>Our Blog</a>
  </app-page-hero>

  <app-feature-icons fxLayout="row" fxLayoutAlign="center center"></app-feature-icons>

  <div class="subscribe-container" fxLayout="column" fxLayoutAlign="center center">
    <app-subscribe *appShellNoRender fxLayout="col" fxLayoutAlign="center center"></app-subscribe>
  </div>

  <app-in-action></app-in-action>
</div>