<ng-container *appShellNoRender>
  <div *ngIf="(product$ | async) as product" class="checkout-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center start" >
    <div class="checkout-content">
      <app-product-summary [product]="product"></app-product-summary>
      <div class="purchase-data-form-container" fxLayout="column" fxLayoutAlign="center center">
        <app-purchase-data-form [product]="product" [publicUser]="publicUser$ | async"></app-purchase-data-form>
        <div class="checkout-disclaimer">I authorize {{ legalBusinessName }} to charge me for the order total. I further affirm that the name and personal information provided on this form are true and correct. I further declare that I have read, understand and accept {{ shorthandBusinessName }}'s business terms as published on their website. By pressing the order button, I agree to pay {{ shorthandBusinessName }}.</div>
      </div>
    </div>
    <div class="md-avatar">
      <img class="avatar-image" [src]="imagePaths.CHECKOUT_AVATAR" alt="Bio Pic">
      <div class="md-blurb">{{ product.tagline }}</div>
      <img class="signature-image" [src]="imagePaths.FOUNDER_SIGNATURE" alt="Signature">
    </div>
  </div>
</ng-container>
