@import "../../../../../variables";

// Remove default h2 properties
h2 {
  margin: 0px;
  font-weight: $font-weight-regular;
}

// Treated as a link for SEO purposes, so some of the caption styling, which is technically link text, happens here
.item {
  width: 300px;
}

.item:hover {
  cursor: pointer;
  .caption, .thumbnail {
    opacity: $opacity-full;
  }
}

.thumbnail {
  width: 300px;
  opacity: $opacity-high;
}

.thumbnail:hover {
  opacity: $opacity-full;
}

.post-image {
  max-width: 100%;
}

.caption {
  opacity: $opacity-high;
  text-decoration: none;
  color: black;
  font-size: 22px;
  text-align: center;
  position: relative;
  display: inline-block;
  @include line-clamp(2);
}
