<div class="page-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="content-body-container" fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="confirmSubscriberProcessing$ | async" class="processing-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <mat-spinner class="processing-spinner"></mat-spinner>
      <h2 class="processing-message">
        Confirming your email, please wait...
      </h2>
    </div>
    <div *ngIf="confirmSubcriberError$ | async" class="failure-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <mat-icon class="failure-icon">cancel</mat-icon>
      <h2 class="failure-message">
        Failed to confirm your email. If you continue to receive this message, try re-subscribing below and clicking the link in the new email it generates. If all else fails, contact <b>{{supportEmail}}</b>.
      </h2>
      <div class="subscribe-widget">
        <app-subscribe></app-subscribe>
      </div>
    </div>
    <div *ngIf="subMarkedConfirmed$ | async" class="success-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <mat-icon class="success-icon">check_circle_outline</mat-icon>
      <h2 class="success-message">
        Success! Your email has been confirmed. Check your inbox for your FREE strategy guide.
      </h2>
    </div>
  </div>
</div>