<div class="content-container puppeteer-loaded" fxLayout="column" fxLayoutAlign="center center">
  
  <p class="header">
    Want to get in touch? I'd love to hear from you! Send me a note below and we'll make magic happen.
  </p>

  <div appMatElevation class="form-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="form-header" fxLayoutAlign="center center">
      <div class="form-header-text">What's On Your Mind</div>
    </div>

    <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <div class="name-and-email-container" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="32px">
        <mat-form-field>
          <input class="name-input" matInput formControlName="firstName" type="text">
          <mat-placeholder class="input-placeholder">First Name</mat-placeholder>
          <mat-error *ngFor="let validation of formValidationMessages.firstName">
            <mat-error *ngIf="firstName.hasError(validation.type) && firstName.invalid && (firstName.dirty || firstName.touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input class="email-input" matInput formControlName="email" type="email">
          <mat-placeholder class="input-placeholder">Your Email</mat-placeholder>
          <mat-error *ngFor="let validation of formValidationMessages.email">
            <mat-error *ngIf="email.hasError(validation.type) && email.invalid && (email.dirty || email.touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <mat-form-field>
        <textarea class="message-input" matInput cdkTextareaAutosize (keydown.enter)="textareaEnterPressed($event)" formControlName="message" type="text"></textarea>
        <mat-placeholder class="input-placeholder">Your Message</mat-placeholder>
        <mat-error *ngFor="let validation of formValidationMessages.message">
          <mat-error *ngIf="message.hasError(validation.type) && message.invalid && (message.dirty || message.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>
      <button class="submit-button" color="primary" [disabled]="contactForm.invalid || formSubmitted" type="submit" mat-raised-button>
          Submit
      </button>
      <div *ngIf="formSubmitted" class="post-submit-message">
        Thank you for contacting us. We look forward to reading your message.
      </div>
    </form>

  
  </div>

</div>
