<div class="cap-section-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-evenly start">
  <div class="cap-item" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <div class="cap-title">{{ capTitleOne }}</div>
    <div class="cap-body">{{ capBodyOne }}</div>
    <div class="cap-icon">
      <img src="{{capIconOnePath + '.svg'}}" alt="confidence icon">
    </div>
  </div>
  <div class="cap-item" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <div class="cap-title">{{ capTitleTwo }}</div>
    <div class="cap-body">{{ capBodyTwo }}</div>
    <div class="cap-icon">
      <img src="{{capIconTwoPath + '.svg'}}" alt="confidence icon" onerror="this.src='assets/icons/authenticity_icon.png'">
    </div>
  </div>
  <div class="cap-item" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <div class="cap-title">{{ capTitleThree }}</div>
    <div class="cap-body">{{ capBodyThree }}</div>
    <div class="cap-icon">
      <img src="{{capIconThreePath + '.svg'}}" alt="confidence icon">
    </div>
  </div>
</div>