@import "../../../../../variables";

.cap-section-container {
  margin: 32px;
  width: 80%;
  opacity: 0.87;
}

.cap-item {
  max-width: 300px;
  text-align: center;
}

.cap-title {
  font-family: $logo-font-family;
  font-size: $logo-font-default-size;
  color: $primary;
  
}

.cap-body {
  color: $primary
}

.cap-icon img {
  max-height: 150px;
  filter: $svg-color-filter;
}