<div class="cap-section-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-evenly start">
  <div class="cap-item" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <div class="cap-title">Confidence</div>
    <div class="cap-body">Learn effective communication skills for interviews, public speaking, salary negotiations, and more</div>
    <div class="cap-icon">
      <img src="assets/icons/confidence_fist_icon.svg" alt="confidence icon" onerror="this.src='assets/icons/confidence_fist_icon.png'">
    </div>
  </div>
  <div class="cap-item" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <div class="cap-title">Authenticity</div>
    <div class="cap-body">Develop authentic speaking skills and project your true self to win the trust of your peers and clients</div>
    <div class="cap-icon">
      <img src="assets/icons/authenticity_icon.svg" alt="confidence icon" onerror="this.src='assets/icons/authenticity_icon.png'">
    </div>
  </div>
  <div class="cap-item" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <div class="cap-title">Poise</div>
    <div class="cap-body">Demonstrate professionalism and competence through better body language and demeanor</div>
    <div class="cap-icon">
      <img src="assets/icons/poise_icon.svg" alt="confidence icon" onerror="this.src='assets/icons/poise_icon.png'">
    </div>
  </div>
</div>