<div class="cap-section-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-evenly start">
  <div class="cap-item" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <div class="cap-title">Strength</div>
    <div class="cap-body">Project confidence and poise by leveraging skills and expertise you have built from the ground up</div>
    <div class="cap-icon">
      <img src="assets/icons/confidence_fist_icon.svg" alt="confidence icon" onerror="this.src='assets/icons/confidence_fist_icon.png'">
    </div>
  </div>
  <div class="cap-item" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <div class="cap-title">Authority</div>
    <div class="cap-body">Develop a deeper understanding of yourself and how people see you to win the trust of your peers and clients</div>
    <div class="cap-icon">
      <img src="assets/icons/authenticity_icon.svg" alt="confidence icon" onerror="this.src='assets/icons/authenticity_icon.png'">
    </div>
  </div>
  <div class="cap-item" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <div class="cap-title">Intuition</div>
    <div class="cap-body">Deploy battle-tested strategies to overcome challenges and obstacles in unfamiliar contexts</div>
    <div class="cap-icon">
      <img src="assets/icons/poise_icon.svg" alt="confidence icon" onerror="this.src='assets/icons/poise_icon.png'">
    </div>
  </div>
</div>