<div class="product-diagram" fxLayout="column" fxLayoutAlign="center center">
  <div class="diagram-title">How Remote Coach Works</div>
  <div class="diagram-item" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center">
    <mat-icon class="item-icon">cloud_upload</mat-icon>
    <div class="item-text-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="center start">
      <div class="item-title">Submit Your Video</div>
      <div class="item-description">Provide a link to your video hosted on YouTube or Vimeo. Instructions provided.</div>
    </div>
  </div>
  <div class="diagram-item" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center">
    <mat-icon class="item-icon">remove_red_eye</mat-icon>
    <div class="item-text-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="center start">
      <div class="item-title">Choose Your Focus</div>
      <div class="item-description">Indicate which communication topic(s) you'd like me to focus on. Anything goes!</div>
    </div>
  </div>
  <div class="diagram-spacer" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
    <div class="spacer-line"> | </div>
    <div class="spacer-line"> | </div>
  </div>
  <div class="diagram-item diagram-item-timer" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center center">
    <mat-icon class="item-icon">access_time</mat-icon>
    <div class="item-description item-description-timer">Allow 24 - 48 Hours Processing Time</div>
  </div>
  <div class="diagram-spacer" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
      <div class="spacer-line"> | </div>
      <div class="spacer-line"> | </div>
    </div>
  <div class="diagram-item" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center">
    <mat-icon class="item-icon">people</mat-icon>
    <div class="item-text-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="center start">
      <div class="item-title">Schedule a Feedback Session</div>
      <div class="item-description">Join me online for a one-on-one feedback session to review your video together.</div>
    </div>
  </div>
</div>