
<div *ngIf="(product$ | async) as product" class="page-container puppeteer-loaded" fxLayout="column" fxLayoutAlign="center center">
  <app-page-hero [heroData]="heroData"></app-page-hero>
  <div class="content-container" fxLayout="column" fxLayoutAlign="center center">

    <!-- DYNAMICALLY POPULATE PRODUCT TEMPLATE BASED ON ID -->
    <div class="content-body-container" fxLayout="column" fxLayoutAlign="center center">
      <ng-container *ngTemplateOutlet="productId === productIdList.EXPLEARNING_REMOTE_COACH ? remoteCoach : null"></ng-container>
      <ng-container *ngTemplateOutlet="productId === productIdList.EXPLEARNING_EXECUTIVE_PRESENCE ? executivePresence : null; context: {product: product}"></ng-container>
      <ng-container *ngTemplateOutlet="productId === productIdList.EXPLEARNING_REMOTE_WORK ? remoteWork : null; context: {product: product}"></ng-container>
      <ng-container *ngTemplateOutlet="productId === productIdList.EXPLEARNING_ONLINE_INTERVIEWS ? onlineInterivews : null; context: {product: product}"></ng-container>
      <ng-container *ngTemplateOutlet="productId === productIdList.EXPLEARNING_GROUP_INTERVIEWS ? groupInterivews : null; context: {product: product}"></ng-container>
    </div>

    <div *appShellNoRender class="buy-now-container">
      <app-buy-now-box *ngIf="!product.waitlistActive" [product]="product"></app-buy-now-box>
      <app-wait-list *ngIf="product.waitlistActive" [productId]="product.id"></app-wait-list>
      <div class="testamonial-section">
        <app-testamonial *ngFor="let testamonial of testamonialData" [testamonialData]="testamonial" ></app-testamonial>
      </div>
      <app-buy-now-box *ngIf="!product.waitlistActive" [product]="product"></app-buy-now-box>
      <app-wait-list *ngIf="product.waitlistActive" [productId]="product.id"></app-wait-list>
    </div>
  </div>
</div>

<!-- SELECTION OF PRODUCT TEMPLATES TO DRAW FROM -->
<ng-template #remoteCoach>
  <app-remote-coach></app-remote-coach>
</ng-template>

<!-- productId variable set in ng-container above -->
<ng-template #executivePresence let-product="product">
  <app-executive-presence [product]="product"></app-executive-presence>
</ng-template>

<ng-template #remoteWork let-product="product">
  <app-remote-work [product]="product"></app-remote-work>
</ng-template>

<ng-template #onlineInterivews let-product="product">
  <app-online-interviews [product]="product"></app-online-interviews>
</ng-template>

<ng-template #groupInterivews let-product="product">
  <app-group-interviews [product]="product"></app-group-interviews>
</ng-template>

<ng-template #blank>
  No Product Identified
</ng-template>