@import '../../../../../variables';

:host {
  width: 100%;
  max-width: $max-screen-width;
}

.page-container {
  padding-bottom: 40px;
}

app-page-hero {
  width: 100%;
  margin-bottom: 16px;
}

app-buy-now-box {
  margin-top: 16px;
  margin-bottom: 16px;
}

.testamonial-section {
  margin-top: 16px;
  margin-bottom: 16px;
}
