
<div *ngIf="(product$ | async) as product" class="page-container puppeteer-loaded" fxLayout="column" fxLayoutAlign="center center">
  <app-page-hero [heroData]="heroData"></app-page-hero>
  <div class="content-container" fxLayout="column" fxLayoutAlign="center center">

    <!-- DYNAMICALLY POPULATE PRODUCT TEMPLATE BASED ON ID -->
    <div class="content-body-container" fxLayout="column" fxLayoutAlign="center center">
      <ng-container *ngTemplateOutlet="productId === productIdList.REMOTE_COACH ? remoteCoach : null"></ng-container>
      <ng-container *ngTemplateOutlet="productId === productIdList.SANDBOX_REMOTE_COACH ? remoteCoach : null"></ng-container>
      <ng-container *ngTemplateOutlet="productId === productIdList.SANDBOX_ANOTHER_COOL_PRODUCT ? testProduct : null"></ng-container>
    </div>

    <div class="buy-now-container">
      <app-buy-now-box [buyNowData]="buyNowData" [product]="product"></app-buy-now-box>
      <div class="testamonial-section">
        <app-testamonial *ngFor="let testamonial of testamonialData" [testamonialData]="testamonial" ></app-testamonial>
      </div>
      <app-buy-now-box [buyNowData]="buyNowData" [product]="product"></app-buy-now-box>
    </div>
  </div>
</div>

<!-- SELECTION OF PRODUCT TEMPLATES TO DRAW FROM -->
<ng-template #remoteCoach>
  <app-remote-coach></app-remote-coach>
</ng-template>

<ng-template #testProduct>
  Test Product Here
</ng-template>

<ng-template #blank>
  No Product Identified
</ng-template>