@import '../../../../../variables';

:host {
  width: 100%;
  max-width: $max-screen-width;
}

.page-container {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.text-content {
  width: 100%;
  max-width: 800px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
}

@media screen and (max-width: $mobile-cutoff-width) {
  
  th, td {
    font-size: 12px;
  }

}