@import "./variables";

.container {
  min-height: 100%;
}

app-header {
  width: 100%;
}

mat-sidenav-container {
  width: 100%;
}

app-footer {
  width: 100%;
}

// Otherwise it is too narrow bc content doesn't spread out much
mat-sidenav {
  min-width: 200px;
}
