<div class="content-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="header">
    Success in group interviews requires a unique set of skills
  </div>
  
  <div class="body-container" fxLayout="column" fxLayoutAlign="start center">
    <div class="body-intro" fxLayout="row" fxLayoutAlign="center center">
      <app-avatar-portrait [imagePath]="imagePaths.MD_AVATAR"></app-avatar-portrait>
      <div class="intro-text">
        <p>So you’ve already taken our course on Acing Online Interviews and now you’re feeling like an interview rock star.</p>
      </div>
    </div>
    <div class="body-text">
      <div class="section-one">
        <p>And so you should!</p>
        <p>But then you get an email from the recruiting manager. It says your next interview will be a GROUP interview.</p>
        <p>Oh boy. That wasn’t covered in class. And by the way, what the heck is a group interview anyhow?</p>
        <p>It’s okay. Take a deep breath.</p>
        <p>In this Explearning course, Greg and I draw from our combined experience driving team consensus and navigating highlight selective recruiting processes, to provide a comprehensive guide to standing out in group interviews.</p>
        <p>It’s packed with unique insights and advanced strategies to equip you with the skills you need to make a great impression on the hiring manager.</p>
        <p>You'll find this course valuable if you match ANY of the following criteria:</p>
        <ul>
          <li>You’re familiar with individual interviews but not group interviews</li>
          <li>You have an upcoming group interview and want to hone your interview skills</li>
          <li>You want to stand out in a crowd and make a great impression in group settings</li>
          <li>You want to be more assertive and influence people without being overbearing</li>
        </ul>
        <p>Also note that the concepts discussed in this course are universally applicable to any collaborative context. That includes any team situation where you need the room to reach a specific outcome, and you want to win the respect of a manager or client.</p>
        <p>If you are determined to take your group interview skills to the next level, this is the course for you.</p>
      </div>
    </div>
  </div>
</div>
