<div class="content-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="header">
    Online teamwork demands a higher level of discipline and structure
  </div>
  
  <div class="body-container" fxLayout="column" fxLayoutAlign="start center">
    <div class="body-intro" fxLayout="row" fxLayoutAlign="center center">
      <app-avatar-portrait [imagePath]="imagePaths.MD_AVATAR"></app-avatar-portrait>
      <div class="intro-text">
        <p>Most of us consider ourselves above-average team players.</p>
      </div>
    </div>
    <div class="body-text">
      <div class="section-one">
        <p>Of course, mathematically speaking, that’s impossible. We can’t all be above average. *Shrug* Hey, who’s counting.</p>
        <p>But what about ONLINE teamwork specifically?</p>
        <p>That probably gets a lot more of us scratching our heads.</p>
        <p>And this makes sense.</p>
        <p>In school, we learned to work shoulder-to-shoulder with our classmates. In the office, we’re next to each other all day. We know the drill.</p>
        <p>But what happens when we take each person of the team and pull them way apart from each other, placing them in different parts of a city, country, or even the world?</p>
        <p>We get something called “remote collaboration”. And when things go remote, the rules of the game change in a big way.</p>
        <p>Processes get more complex, challenges get amplified, and miscommunication abounds.</p>
        <p>Fortunately, there are ways to make remote collaboration work for you. In fact, with the right systems in place, online teamwork can be more productive and efficient than in-person teamwork.</p>
        <p>In this Explearning course, Greg and I draw from our combined experiences managing a distributed workforce in web-based collaborative environments, to provide a comprehensive guide to online teamwork and managing remote teams.</p>
        <p>We break down the complexities of remote collaboration into compact, bite-sized modules, providing you with the key ingredients you need to foster tightly-knit, high-performing teams.</p>
        <p>You'll find this course valuable if you match ANY of the following criteria:</p>
        <ul>
          <li>You want to enhance your teamwork fundamentals</li>
          <li>You want to be as effective working with online teams as you are with in-person teams</li>
          <li>You are making the transition from a traditional office to a remote work virtual office</li>
          <li>You want to maximize the power and benefits of online collaboration</li>
        </ul>
        <p>This is also a great course for anyone who spends time working in groups and teams. Most of the strategies covered in this course are fully applicable to any collaborative context, online or in-person.</p>
        <p>If you’re determined to be as effective as possible working with distributed teams in remote collaborative contexts, this is the course for you.</p>
      </div>
    </div>
  </div>
</div>