<div class="content-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="header">
    In today’s world, remote work isn’t just for freelancers.
  </div>
  
  <div class="body-container" fxLayout="column" fxLayoutAlign="start center">
    <div class="body-intro" fxLayout="row" fxLayoutAlign="center center">
      <app-avatar-portrait [imagePath]="imagePaths.MD_AVATAR"></app-avatar-portrait>
      <div class="intro-text">
        <p>The nature of business is changing and so too is our work environment. As collaboration becomes increasingly distributed and web-centric, we must develop remote productivity and communication skills to stay competitive.</p>
      </div>
    </div>
    <div class="body-text">
      <div class="section-one">
        <p>Whether you manage external contractors and offshore teams, or find yourself in an airport as often as your office, or simply engage with colleagues and clients in different geographies, you need remote-oriented capabilities and protocol to keep everyone – including yourself – on task.</p>
        <p>Drawing from research in the fields of behavioral psychology, interactional linguistics, and work-life management, in this Explearning webcourse we explore the key components of remote collaboration and how to become more effective when working in distributed teams.</p>
        <p>The skills required to thrive in a remote work environment are transferable to any modern business context. An investment in this skillset is an investment in your professional trajectory.</p>
        <p>There is no better time than now to get started.</p>
        <h2 class="section-title">Webinar Learning Outcomes</h2>
        <ul>
          <li>Increase your focus and efficiency while working remotely</li>
          <li>Feel more connected with your colleagues and clients</li>
          <li>Boost your productivity while protecting your personal space</li>
          <li>Develop a deeper sense of purpose in your work</li>
        </ul>
      </div>
      <div class="waitlist-signup">
        <app-wait-list [productId]="productId"></app-wait-list>
      </div>
      <div class="section-two">
        <h2 class="section-title">Workshop Modules</h2>
        <p>Remote work comes with many conveniences, but alas it also comes with challenges.</p>
        <p>Fortunately, with the appropriate systems in place, most of those challenges can be mitigated or eliminated outright, while retaining all the upside.</p>
        <p>In this webcourse, we will highlight some of these challenges and offer strategies for addressing them through better communication and productivity.</p>
        <h3 class="section-subtitle">Communication</h3>
        <ul>
          <li>Overcommunicate (But Don’t Inundate)</li>
          <li>Establishing Communication Protocol within Teams</li>
          <li>Creating Space for Human Connectivity</li>
          <li>Making Effective Video Calls</li>
        </ul>
        <h3 class="section-subtitle">Productivity</h3>
        <ul>
          <li>Time Management Techniques</li>
          <li>Carving Out Space for Work</li>
          <li>Managing To-Dos</li>
          <li>Establishing Personal Routines</li>
          <li>Setting Work-Life Boundaries</li>
        </ul>
      </div>
      <div class="waitlist-signup">
        <app-wait-list [productId]="productId"></app-wait-list>
      </div>
    </div>
  </div>
</div>
