<div class="content-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="header">
    In today’s world, remote work isn’t just for freelancers.
  </div>
  
  <div class="body-container" fxLayout="column" fxLayoutAlign="start center">
    <div class="body-intro" fxLayout="row" fxLayoutAlign="center center">
      <app-avatar-portrait [imagePath]="imagePaths.MD_AVATAR"></app-avatar-portrait>
      <div class="intro-text">
        <p>Working from home can offer a huge boost to our productivity. But it isn't always as easy and convenient as we'd like to think.</p>
      </div>
    </div>
    <div class="body-text">
      <div class="section-one">
        <p>Fortunately, with the appropriate skills and systems in place, we can mitigate (or even eliminate) many of the challenges of remote work, while retaining all the upside!</p>
        <p>This is particularly true when we are working with teams and clients who are spread across different geographies, or in spaces that aren't specifically configured for getting work done (e.g., your kitchen or a coffee shop).</p>
        <p>In this course, Greg and I draw from our research in the fields of behavioral psychology, interactional linguistics, and work-life management, to identify some of the most significant challenges of working remotely.</p>
        <p>We offer strategies for addressing these challenges through a careful selection of powerful communication frameworks and productivity techniques.</p>
        <p>Here are some of the takeaways you’ll gain from this course:</p>
        <ul>
          <li>Increase your focus and efficiency while working remotely</li>
          <li>Feel more connected with your colleagues and clients</li>
          <li>Boost your productivity while protecting your personal space</li>
          <li>Develop a deeper sense of purpose in your work</li>
        </ul>
        <p>Are you ready to take your remote work skills to the next level?</p>
      </div>
      <div class="waitlist-signup">
        <app-wait-list [productId]="productId"></app-wait-list>
      </div>
      <div class="section-two">
        <h2 class="section-title">Who Is this Course For?</h2>
        <p>In today’s world, remote work isn’t just for freelancers.</p>
        <p>The nature of business is changing and so too is our work environment. As collaboration becomes increasingly distributed and web-centric, we must develop remote productivity and communication skills to stay competitive.</p>
        <p>Whether you manage external contractors and offshore teams, or find yourself in an airport as often as your office, or simply engage with colleagues and clients in different geographies, you need remote-oriented capabilities and protocol to keep everyone – including yourself – on task.</p>
        <p>In this course, we explore the key components of remote collaboration and how to become more effective when working in distributed teams.</p>
        <p>The skills required to thrive in a remote work environment are transferable to any modern business context.</p>
        <p>An investment in this skillset is an investment in your professional trajectory.</p>
        <p>There is no better time than now to get started.</p>
      </div>
      <div class="waitlist-signup">
        <app-wait-list [productId]="productId"></app-wait-list>
      </div>
      <div class="section-three">
        <h2 class="section-title">Challenges of Remote Work</h2>
        <p>When our colleagues are spread across multiple locations, we call that a distributed team.</p>
        <p>Distributed teams are wonderfully liberating. We have more autonomy to work where, and when, we please. We can also be more efficient because we don’t need to travel anywhere to get started.</p>
        <p>But distributed teams also come with real challenges.</p>
        <p>Foremost among those is the challenge of communicating effectively with the rest of our team.</p>
        <p>After all, when we are working from separate locations, we can’t exactly “swing by” our colleague’s desk to hash out a question in person. Nor are we likely to “bump into” them on the way to the snack room.</p>
        <p>This lack of in-person interaction means we need to put a lot more effort into staying in touch with our colleagues. We must ensure we remain coordinated on our various tasks and deadlines while also maintaining the important “human connection” with each other.</p>
        <p>Another major challenge with remote work is staying productive in unstructured environments.</p>
        <p>A traditional office provides a contained “safe space” that is purpose-built for getting work done. There are minimal distractions and we have all the equipment we need to operate efficiently and effectively.</p>
        <p>By contrast, when we work from home, or wherever we open our laptop, we are suddenly faced with many more factors that are out of our control. That could include technical issues like a poor internet connection or cramped working conditions. Or interruptions from noisy kids or needy pets.</p>
        <p>In these less structured environments, we need ways to keep us at peak productivity, even in the face of unpredictable distractions and obstacles.</p>
        <p>This course equips you with a selection of powerful systems and mental models for maximizing your output and enhancing your time management, all while preventing burnout that frequently accompanies working from home.</p>
        <p>Are you ready to take control of your remote work life?</p>
      </div>
      <div class="waitlist-signup">
        <app-wait-list [productId]="productId"></app-wait-list>
      </div>
      <div class="section-four">
        <h2 class="section-title">The End of the Office</h2>
        <p>The term “office” has become outdated. After all, we used to think of the office as the only place we got work done.</p>
        <p>Those days are long gone.</p>
        <p>Between our smart phones, laptops, tablets, and other productivity devices, work happens whenever (and wherever) we switch on those screens.</p>
        <p>Consider your last vacation where you had to frantically find a WiFi hotspot to send out an urgent project update to your team. Suddenly you regret not purchasing that international data package…</p>
        <p>Or maybe you have a long commute and like to go through your email on the way to work. Or you duck out early and wrap up your work from home after dinner.</p>
        <p>In each of these situations, you may not be in the office, but you certainly are getting work done.</p>
        <p>And keep in mind, remote work isn’t just about where YOU are. It’s also about where the rest of your team is.</p>
        <p>Just think about it.</p>
        <p>Have you ever worked on a team that was based in a different office? Or managed contractors who lived in a different country? Or coordinated with clients in a different time zone?</p>
        <p>Where’s the office in those scenarios?</p>
        <p>The concept of an “office” suddenly feels more abstract.</p>
        <p>This course embraces the modern concept of a distributed remote office and equips you to thrive in a web- and cloud-based work environment, where the only facilities you need are a power outlet and a WiFi connection.</p>
        <p>Are you ready to secure your future with remote work skills?</p>
      </div>
      <div class="waitlist-signup">
        <app-wait-list [productId]="productId"></app-wait-list>
      </div>
      <div class="section-five">
        <h2 class="section-title">Workshop Modules</h2>
        <h3 class="section-subtitle">Communication</h3>
        <ul>
          <li>Overcommunicate (But Don’t Inundate)</li>
          <li>Establishing Communication Protocol within Teams</li>
          <li>Creating Space for Human Connectivity</li>
          <li>Making Effective Video Calls</li>
        </ul>
        <h3 class="section-subtitle">Productivity</h3>
        <ul>
          <li>Time Management Techniques</li>
          <li>Carving Out Space for Work</li>
          <li>Managing To-Dos</li>
          <li>Establishing Personal Routines</li>
          <li>Setting Work-Life Boundaries</li>
        </ul>
      </div>
      <div class="waitlist-signup">
        <app-wait-list [productId]="productId"></app-wait-list>
      </div>
    </div>
  </div>
</div>
