<div class="content-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="header">
    <p class="header-question">
      <span class="question-letter">Q:</span> 
      "Do you feel prepared?"
    </p>
    <p class="header-answer">
      <span class="question-letter">A:</span> 
      "I think. I just wish I could run it by someone."
    </p>
    <p class="header-segue">
      Introducing that someone...
    </p>
  </div>
  
  <div class="body-container" fxLayout="column" fxLayoutAlign="start center">
    <div class="body-intro" fxLayout="row" fxLayoutAlign="center center">
      <app-avatar-portrait [imagePath]="imagePaths.MD_AVATAR"></app-avatar-portrait>
      <div class="intro-text">
        Hi, I'm Mary Daphne, co-founder of Explearning. With an Ed.M from Columbia University, I've been teaching and coaching communications for over ten years.
      </div>
    </div>
    <div class="body-text">
      <p>It amazes me how often we receive requests for quick feedback on a talk or presentation, or how to answer a specific interview question.</p>
      <p>Clients are looking for quick, personalized insights.</p>
      <p>Do any of these situations sound familiar?</p>
      <ul>
        <li>daunting interview</li>
        <li>scary speech</li>
        <li>tough salary negotiation</li>
        <li>important client meeting</li>
        <li>large networking event</li>
      </ul>
      <p>Well you're not alone. These are some of the most frequently requested areas for help.</p>
      <p>And there's a good reason for that. These high-stakes interactions require you to bring your "A Game". Nothing less will do.</p>
      <p>But it can be hard to find someone who can help. Everyone is busy. And we all know your friends are always way too nice with their feedback.</p>
      <p>You need someone who is trained and unbiased.</p>
      <p>That's why we created Remote Coach.</p>
      <p>While I enjoy working closely with my clients on a long-term basis, I know not everyone has time (or the funds!) for a dedicated, personal communications coach.</p>
      <p>Remote Coach offers the benefits of your own personal communications coach without any long-term commitments or recurring costs.</p>
      <p>With Remote Coach, you get personalized feedback on any communications topic you'd like, whenever you want.</p>
      <p>Choose your topic. We'll tackle it together.</p>
      <p>Here are some common topics my clients request help with:</p>
      <ul>
        <li>speaking with clarity</li>
        <li>sounding professional</li>
        <li>projecting confidence</li>
        <li>getting rid of speech fillers</li>
        <li>using powerful body language</li>
        <li>navigating cross-cultural dynamics</li>
      </ul>
      <p>Many of these topics could benefit from several months of intensive communications coaching.</p>
      <p>But sometimes clients are in a rush. They need feedback NOW!</p>
      <p>I get it.</p>
      <p>Fortunately, for an experienced communications coach, there are absolutely ways to make a significant improvement in a client's communications skills using just a short sample of the client's work.</p>
      <p>That's why Remote Coach works.</p>
      <p>And guess what? It couldn't be easier to get started.</p>
      <app-rc-product-diagram></app-rc-product-diagram>
      <p>Not every situation calls for a trained communications coach. But the ones that do can make a huge difference in your life and your career.</p>
      <p>This is your chance to get professional, personalized feedback and quality communications instruction, all from the convenience of your home.</p>
      <p>You need to bring your A Game. We're here to help.</p>
      <p>Ready to get started?</p>
    </div>
  </div>
</div>

