@import '../../../../../../variables';

:host {
  width: 100%;
  max-width: $max-screen-width;
}

.header {
  font-size: 48px;
}

.header-question, .header-answer {
  font-size: 1em;
  font-weight: $font-weight-regular;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.question-letter {
  color: $primary;
}

.header-segue {
  font-size: 0.5em;
  font-weight: $font-weight-light;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
}

.intro-text {
  font-weight: $font-weight-medium;
}

.body-container {
  padding: 16px;
  max-width: $text-block-max-width;
  font-size: $text-block-font-size;
  font-weight: $text-block-font-weight;
}

.body-text {
  @include textBlockBullets()
}

@media screen and (max-width: $mobile-cutoff-width) {
  
  .header-question, .header-answer {
    font-size: 0.7em;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .header-segue {
    font-size: 0.4em;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .intro-text {
    font-size: $text-block-mobile-font-size;
  }

  .body-container {
    font-size: $text-block-mobile-font-size;
  }

}