<div class="product-summary">
  <div class="summary-header">{{ product.checkoutData.checkoutHeader }}</div>
  <div class="summary-details" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" fxLayoutAlign.gt-sm="center start">
    <div class="product-name">{{ product.name }}</div>
    <div *ngIf="!discountedPrice" class="product-price">${{ product.price | number: '1.2' }}</div>
    <div *ngIf="discountedPrice" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px" fxLayoutAlign.gt-sm="center start">
      <div class="original-product-price">${{ product.price | number: '1.2' }}</div>
      <div class="discounted-price">${{ discountedPrice | number: '1.2' }} (Discount Applied!)</div>
    </div>
    <div class="product-description">{{ product.checkoutData.checkoutDescription }}</div>
    <mat-divider ></mat-divider>
  </div>
</div>