<div class="box-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="center start" fxLayoutGap="16px">
  <div class="title">{{ promoTitle }}</div>
  <div class="description">{{ promoDescription }}</div>
  <form 
      class="subscribe-form" 
      [formGroup]="subscribeForm" 
      (ngSubmit)="onSubmit()" 
      fxLayout="column" 
      fxLayoutAlign="center center"
      fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="start center"
      fxLayoutGap.gt-sm="16px"
      >
    <mat-form-field class="first-name-form-field">
      <input class="first-name-input" matInput formControlName="firstName">
      <mat-placeholder class="input-placeholder">First Name</mat-placeholder>
      <mat-error *ngFor="let validation of formValidationMessages.firstName">
        <mat-error *ngIf="firstName.hasError(validation.type) && firstName.invalid && (firstName.dirty || firstName.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <input class="email-input" matInput formControlName="email" type="email">
      <mat-placeholder class="input-placeholder">Your Email</mat-placeholder>
      <mat-error *ngFor="let validation of formValidationMessages.email">
        <mat-error *ngIf="email.hasError(validation.type) && email.invalid && (email.dirty || email.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-progress-spinner *ngIf="isSubscribingUser$ | async" diameter=40 color="accent" mode="indeterminate"></mat-progress-spinner>
    <button 
      *ngIf="!(isSubscribingUser$ | async)"
      [disabled]="(email.invalid && (email.dirty || email.touched))"
      class="submit-button" 
      type="submit" 
      mat-raised-button 
      color="accent">
        Submit
    </button>
  </form>

  <div *ngIf="userSubscribed && !existingSubscriber" class="post-submit-message">
    Please check your inbox for a confirmation email from {{ senderEmail }}. If it isn't there, be sure to check your spam folder and promotions tab.
  </div>
  <div *ngIf="userSubscribed && existingSubscriber" class="post-submit-message">
    It looks like you've already subscribed! Be sure to check your spam folder and promotions tab for an email from {{ senderEmail }}.
  </div>
  <div *ngIf="subscribeUserError$ | async" class="post-submit-error">
    Hmm, looks like that didn't work. Please refresh the page and try again.
  </div>
</div>
<div class="exit-container" fxLayoutAlign="center center">
  <button class="no-thanks" mat-button mat-dialog-close>
    {{ promoDecline }}
  </button>
</div>
