@import './app/variables';

html, body { 
  height: 100%; 
  min-width: $min-screen-width;
}

body { 
  margin: 0; 
  font-family: 'Roboto', sans-serif, "Helvetica Neue", arial; 
}

// A wrapper class for the download promo box, set in the dialogConfig
.download-promo-wrapper {
  mat-dialog-container {
    padding: 0;
  }
}