<div *ngIf="(post$ | async) as post" class="blog-container puppeteer-loaded" fxLayout="column" fxLayoutAlign="center center">
  <app-page-hero [heroData]="heroData"></app-page-hero>
  <div class="blog-content" fxLayout="column" fxLayoutAlign="center center">
    <p class="header">{{ post.description }}</p>
    <div *ngIf="videoHtml" class="video-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <div class="video-body" [innerHTML]="videoHtml"></div>
      <div class="subscribe-button-container" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center"  fxLayoutAlign.gt-sm="end center" fxLayoutGap="16px">
        <div class="subscribe-caption" fxHide fxShow.gt-sm>Subscribe on YouTube for the latest videos --></div>
        <div class="subscribe-caption" fxHide.gt-sm>(subscribe below for the latest videos)</div>
        <div class="g-ytsubscribe subscribe-button" data-channelid="UCMnAKOzuvMSuBSoPUL3dXlw" data-layout="full" data-count="default"></div>
      </div>
    </div>
    <div  class="text-container" fxLayout="column" fxLayoutAlign="center center">
      <div class="post-body" [innerHTML]="sanitizedPostBody"></div>
    </div>
  </div>
  <div class="back-button">
    <a mat-raised-button color="primary" routerLink="../..">View More Blog Posts</a>
  </div>
</div>
<div class="load-error" *ngIf="error$ | async as error" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
  <p>{{ error }}.</p>
  <a routerLink="../..">Go back</a>
</div>