<div *ngIf="(post$ | async) as post" class="blog-container puppeteer-loaded" fxLayout="column" fxLayoutAlign="center center">
  <app-page-hero [heroData]="heroData"></app-page-hero>
  <div class="blog-content" fxLayout="column" fxLayoutAlign="center center">
    <p class="header">{{ post.description }}</p>
    <div *ngIf="videoHtml" class="video-container" fxLayout="column" fxLayoutAlign="center center">
      <div class="video-body" [innerHTML]="videoHtml"></div>
    </div>
    <div  class="text-container" fxLayout="column" fxLayoutAlign="center center">
      <div class="post-body" [innerHTML]="sanitizedPostBody"></div>
    </div>
  </div>
  <div class="back-button">
    <a mat-raised-button color="primary" routerLink="../..">View More Blog Posts</a>
  </div>
</div>
<div class="load-error" *ngIf="error$ | async as error" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
  <p>{{ error }}.</p>
  <a routerLink="../..">Go back</a>
</div>

  