<div class="content-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="header">
    Online interviews are more challenging than most of us realize.
  </div>
  
  <div class="body-container" fxLayout="column" fxLayoutAlign="start center">
    <div class="body-intro" fxLayout="row" fxLayoutAlign="center center">
      <app-avatar-portrait [imagePath]="imagePaths.FOUNDER_AVATAR"></app-avatar-portrait>
      <div class="intro-text">
        <p>Phew, it’s just an online interview. That’s way easier than an in-person interview, right?</p>
        <p>Wrong!</p>
      </div>
    </div>
    <div class="body-text">
      <div class="section-one">
        <p>Contrary to popular belief, online interviews can be much more difficult than in-person interviews.</p>
        <p>Sure, you COULD take an online interview in your living room in your PJs. But doesn’t mean you SHOULD.</p>
        <p>The stakes for online interviews are just as high as in-person ones, and the virtual format comes with a host of unique challenges.</p>
        <p>So don’t make the mistake of underestimating your next online interview.</p>
        <p>This Explearning course draws from Greg and my combined experience navigating highly selective recruiting processes, on both sides of the table. We get deep into the head of the interviewer to understand what they are looking for in candidates.</p>
        <p>It’s packed with original insights and powerful, actionable strategies to equip you for success.</p>
        <p>You'll find this course valuable if you match ANY of the following criteria:</p>
        <ul>
          <li>You’re searching for a new job</li>
          <li>You expect to encounter online interviews during that process</li>
          <li>You want a higher success rate with your online interviews</li>
          <li>You want to make a great impression over video chat</li>
          <li>You’re familiar with web conferencing technology and want to make that tech work for you rather than against you</li>
        </ul>
        <p>It's also important to note that, even if you plan to do your interviews in-person, you'll still find tons of value in this course, so don't let that be a barrier for you.</p>
        <p>If you are deeply invested in supercharging your online interview skills, this is the course for you.</p>
      </div>
    </div>
  </div>
</div>
