@import '../../../../../variables';

:host {
  width: 100%;
}

.box-background {
  @include background-opacity($primary, $opacity-minimal);
  padding: 16px;
  width: 100%;
  max-width: $text-block-max-width;

  font-size: 22px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.content-container {
  max-width: 400px;
}

.product-icon-container {
  padding-right: 16px;
  padding-left: 16px;
}

.product-icon {
  width: 100%;
  max-width: 300px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.title {
  font-size: 2.2em;
  text-align: center;
}

.subtitle {
  font-size: 1em;
  text-align: center;
}

.buy-now-button {
  background-color: $primary;
  color: white;
  width: 100%;
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
  font-size: 1em;
  height: $desktop-buy-button-height;
}

.buy-now-button.link {
  padding-top: 4px;
}

.cards-icon-container {
  margin-bottom: 16px;
}

.footer {
  font-size: 0.7em;
  opacity: $opacity-medium;
  text-align: center;
}

@media screen and (max-width: $mobile-cutoff-width) {
  .title {
    font-size: 1.8em;
  }
  
  .subtitle {
    font-size: 0.8em;
  }
  
  .buy-now-button {
    font-size: 0.8em;
    margin-top: 32px;
    margin-bottom: 32px;
    height: $mobile-buy-button-height;
  }

  .buy-now-button.link {
    padding-top: 8px;
  }
  
  .cards-icon-container {
    margin-bottom: 16px;
  }
  
  .footer {
    font-size: 0.6em;
    opacity: $opacity-medium;
    text-align: center;
  }
}





