<div class="box-background" fxLayout="column" fxLayoutAlign="center center">
  <div class="content-container">
    <div class="product-icon-container" fxLayoutAlign="center center">
      <img class="product-icon" [src]="product.cardImageProps.src" [alt]="product.name">
    </div>
    <div class="subtitle">{{ buyNowData.buyNowBoxSubtitle }}</div>
    <button class="buy-now-button" mat-raised-button (click)="onBuyNow()">{{ buyNowData.buttonText }}</button>
    <div class="cards-icon-container" fxLayoutAlign="center center">
      <img [src]="iconPaths.CREDIT_CARDS" alt="accepted credit cards">
    </div>
    <div class="footer">
        If you have any questions about this service, please email us at {{ ordersEmail }}
    </div>
  </div>
</div>