<div class="content-container puppeteer-loaded" fxLayout="column" fxLayoutAlign="center center">
  <p class="header">
    Speaking skills and effective communication are at the core of who we are. My job at Explearning is to empower you to be the best communicator you can be.
  </p>
  
  <div class="body-container" fxLayout="column" fxLayoutAlign="start center">
    <div class="body-intro" fxLayout="row" fxLayoutAlign="center center">
      <app-avatar-portrait [imagePath]="imagePaths.MD_AVATAR"></app-avatar-portrait>
      <p class="intro-text">
          Chafing under layers of makeup, I tried not to squint into the hot, bright lights. As the teleprompter began to roll, I took a deep breath, musing at the course of events that led me to this anchor’s seat.
      </p>
    </div>
    <div class="body-text">
      <p>It began on a Fulbright fellowship to Turkey, filming in my humble “studio”: red couch, burgundy curtains, overlooking the Black Sea coast. Script on my lap, FlipCam rolling, I addressed my audience with a warm "Merhaba" (hello).</p>
      <p>My educational videos published on YouTube that year caught the attention of the local university TV station, and in short order, I was producing video content for their channel, promoting cultural awareness and messages of harmony.</p>
      <p>After relocating to Istanbul, I cultivated a series of relationships that got my foot in the door of one of the country's largest TV networks. From there, I gradually worked my way up to anchorwoman for their daily world news segment.</p>
      <div *ngIf="videoHtml" class="video-container" fxLayout="column" fxLayoutAlign="center center">
        <div class="video-body" [innerHTML]="videoHtml"></div>
        <div class="video-caption">Like my Turkish stage name?</div> 
      </div>
      <p>I know this page is supposed to be about me. But I also want to talk about how you fit into this picture.</p>
      <p> What enabled my two-year climb from amateur videographer to mainstream anchorwoman? Without a doubt, it was my communication skills.</p>
      <p>Sure, there were plenty of other factors at play. But when I look back at my eclectic career that spanned the U.S., Europe, and Asia, it is clear that every opportunity I created for myself was rooted in my ability to communicate.</p>
      <p>What does this have to do with you?</p>
      <p>Well, I believe that, with effective communications skills, you too can open doors for yourself that you never even realized existed.</p>
      <p>When you meet someone for the first time, I want you to be able to leave a lasting impression.</p>
      <p>When you address a large audience, I want you to project confidence and communicate your story with clarity.</p>
      <p>When you step into that intimidating interview, I want you to carry yourself with authenticity, poise and grace, demonstrating that you have what it takes to be an asset.</p>
      <p>All of that comes down to your ability to communicate. To communicate your value. To communicate your ideas. To communicate your capabilities.</p>
      <p>No one knows how amazing you are until you communicate it to them.</p>
      <p>Communication isn't just about what you say. It's about how you present yourself. Your body language. Your facial expressions. Your cultural awareness.</p>
      <p>There is so much to effective communication. And I want to share everything I've learned in the news room, during my graduate research at Columbia University, and in my decade of teaching communications -- I want to share all of this with you.</p>
      <p>That's why I founded Explearning. I want the opportunity - the privilege - to help you become the best version of yourself.</p>
      <p>And it all starts with effective communication.</p>
      <p>At this point I hope you are as fired up as I am! If so, I invite you to dive in and check out everything Explearning has to offer.</p>
      <p>A great place to start would be our blog, which features hundreds of research-backed strategies to address some of the most common communications challenges my clients face.</p>
      <p>Thank you for taking the time to learn more about what we do.</p>
      <p>Happy Explearning!</p>
    </div>
    <div class="signature-container" fxFlexAlign="start">
      <img class="signature-image" [src]="imagePaths.MD_CHECKOUT_SIGNATURE" alt="Mary Daphne Explearning Signature">
      <div class="signature-text">
        Mary Daphne Root
      </div>
    </div>
  </div>
</div>