<div class="content-container puppeteer-loaded" fxLayout="column" fxLayoutAlign="center center">
  <p class="header">
    Luck is where hard work meets opportunity. Our mission at Mary Daphne is to equip you to sieze that opportunity.
  </p>
  
  <div class="body-container" fxLayout="column" fxLayoutAlign="start center">
    <div class="body-intro" fxLayout="row" fxLayoutAlign="center center">
      <app-avatar-portrait [imagePath]="imagePaths.MD_AVATAR"></app-avatar-portrait>
      <p class="intro-text">
        Who am I?  Well, since you asked, I'm going to tell you a story about how a starry-eyed girl from New York ended up in an anchor’s seat in Turkey.
      </p>
    </div>
    <div class="body-text">
      <p>It began on a Fulbright fellowship, filming in my humble “studio”: red couch, burgundy curtains, overlooking the Black Sea coast. Script on my lap, FlipCam rolling, I addressed my audience with a warm "Merhaba" (hello).</p>
      <p>My educational videos published on YouTube that year caught the attention of the local university TV station, and in short order, I was producing video content for their channel, promoting cultural awareness and messages of harmony.</p>
      <p>After relocating to Istanbul, I cultivated a series of relationships that got my foot in the door of one of the country's largest TV networks. From there, I gradually worked my way up to anchorwoman for their daily world news segment.</p>
      <ng-container *appShellNoRender>
        <div *ngIf="videoHtml" class="video-container" fxLayout="column" fxLayoutAlign="center center">
          <div class="video-body" [innerHTML]="videoHtml"></div>
          <div class="video-caption">Like my Turkish stage name?</div> 
        </div>
      </ng-container>
      <p>I know this page is supposed to be about me. But I also want to talk about how you fit into this picture.</p>
      <p>What enabled my two-year climb from amateur videographer to mainstream anchorwoman? Without a doubt, it was my communication skills.</p>
      <p>Sure, there were plenty of other factors at play. But when I look back at my eclectic career that spanned the U.S., Europe, and Asia, it is clear that every opportunity I created for myself was rooted in my ability to communicate.</p>
      <p>What does this have to do with you?</p>
      <p>Well, I believe that, with the right skills and strategies, you too can open doors for yourself that you never even realized existed.</p>
      <ul>
        <li>When someone approaches you with a business opportunity, I want you to speak eloquently about your qualifications.</li>
        <li>When you are invited to address a public audience, I want you to have a speech ready to go.</li>
        <li>When you encounter an unfamiliar challenge, I want you to take control of the situation with confidence.</li>
      </ul>
      <p>All of that comes down to being ready when the opportunity arises. In order to be ready, you need to prepare ahead of time.</p>
      <p>Our goal at Mary Daphne is to give you the skills and strategies that ensure you are always prepared.</p>
      <p>Effective communication, personal branding, systems-oriented thinking. These are the kinds of capabilites that will prepare you for whatever life throws at you.</p>
      <p>There's no silver bullet. Instead, we promote the development of a broad skillset that acknowledges just how unpredictable the real world is.</p>
      <p>At Mary Daphne, we've spent a lot of time identifying which components of that skillset are most important for success, which are most actionalbe, and which you will turn to over and over again throughout your life.</p>
      <p>We want the opportunity - the privilege - to share everything we've learned with you.</p>
      <p>At this point I hope you are as fired up as I am! If so, I invite you to dive in and check out everything Mary Daphne has to offer.</p>
      <p>A great place to start would be <a [routerLink]="[appRoutes.BLOG]">our blog</a>, which features hundreds of research-backed strategies to address some of the most common challenges our clients face.</p>
      <p>Thank you for taking the time to learn more about what we do.</p>
      <p>And congratulations on taking your first step toward your upgraded self!</p>
    </div>
    <div class="signature-container" fxFlexAlign="start">
      <img class="signature-image" [src]="imagePaths.MD_CHECKOUT_SIGNATURE" alt="Mary Daphne Signature">
      <div class="signature-text">
        Mary Daphne Root
      </div>
    </div>
  </div>
</div>