@import '../../../../../../variables';

:host {
  width: 100%;
}

.purchase-data-form {
  margin-bottom: 16px;
}

.billing-details-group {
  width: 100%;
}

mat-form-field {
  width: $desktop-form-width;
}

app-coupon-form {
  width: 100%;
}

.processing-hint {
  font-size: 0.75em;
  opacity: $opacity-medium;
  text-align: center;
}

.payment-failed {
  color: $warn;
  text-align: center;
}

@media screen and (max-width: $mobile-cutoff-width) {
 
  mat-form-field {
    width: $mobile-form-width;
  }
}
