<form
    class="purchase-data-form"
    [formGroup]="purchaseDataForm"
    (ngSubmit)="onSubmit($event)"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="16px">
  <div class="billing-details-group" formGroupName="billingDetailsGroup" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" fxLayoutAlign.gt-sm="center start">
    <mat-form-field class="country">
      <mat-label>Select Country</mat-label>
      <mat-select formControlName="countryCode" (selectionChange)="getCountry($event.value)">
        <mat-option *ngFor="let country of (geographicData$ | async)?.countryList" [value]="country.code">{{ country.name }}</mat-option>
      </mat-select>
      <mat-error *ngFor="let validation of billingValidationMessages.countryCode">
        <mat-error *ngIf="countryCode.hasError(validation.type) && countryCode.invalid && (countryCode.dirty || countryCode.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="first-name">
      <input matInput formControlName="firstName" type="text" placeholder="First Name">
      <mat-error *ngFor="let validation of billingValidationMessages.firstName">
        <mat-error *ngIf="firstName.hasError(validation.type) && firstName.invalid && (firstName.dirty || firstName.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="last-name">
      <input matInput formControlName="lastName" type="text" placeholder="Last Name">
      <mat-error *ngFor="let validation of billingValidationMessages.lastName">
        <mat-error *ngIf="lastName.hasError(validation.type) && lastName.invalid && (lastName.dirty || lastName.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="email">
      <input matInput formControlName="email" type="email" placeholder="Email">
      <mat-error *ngFor="let validation of billingValidationMessages.email">
        <mat-error *ngIf="email.hasError(validation.type) && email.invalid && (email.dirty || email.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="phone">
      <input matInput formControlName="phone" type="phone" placeholder="Phone">
      <mat-error *ngFor="let validation of billingValidationMessages.phone">
        <mat-error *ngIf="phone.hasError(validation.type) && phone.invalid && (phone.dirty || phone.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="billing-one">
      <input matInput formControlName="billingOne" type="text" placeholder="Billing Address 1">
      <mat-error *ngFor="let validation of billingValidationMessages.billingOne">
        <mat-error *ngIf="billingOne.hasError(validation.type) && billingOne.invalid && (billingOne.dirty || billingOne.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="billing-two">
      <input matInput formControlName="billingTwo" type="text" placeholder="Billing Address 2">
      <mat-error *ngFor="let validation of billingValidationMessages.billingTwo">
        <mat-error *ngIf="billingTwo.hasError(validation.type) && billingTwo.invalid && (billingTwo.dirty || billingTwo.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="city">
      <input matInput formControlName="city" type="text" placeholder="City">
      <mat-error *ngFor="let validation of billingValidationMessages.city">
        <mat-error *ngIf="city.hasError(validation.type) && city.invalid && (city.dirty || city.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="countryCode.value !== 'US'" class="state">
      <input matInput formControlName="state" type="text" placeholder="State/Province (optional)">
      <mat-error *ngFor="let validation of billingValidationMessages.state">
        <mat-error *ngIf="state.hasError(validation.type) && state.invalid && (state.dirty || state.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="countryCode.value === 'US'" class="state">
      <mat-label>Select State</mat-label>
      <mat-select formControlName="usStateCode" (selectionChange)="setUsState($event.value)">
        <mat-option *ngFor="let state of (geographicData$ | async)?.usStateList" [value]="state.abbr">{{ state.name }}</mat-option>
      </mat-select>
      <mat-error *ngFor="let validation of billingValidationMessages.usStateCode">
        <mat-error *ngIf="usStateCode.hasError(validation.type) && usStateCode.invalid && (usStateCode.dirty || usStateCode.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
  </div>
</form>

<app-stripe-elements 
  [billingDetailsForm]="billingDetailsGroup"
  [publicUser]="publicUser"
  [product]="product"
></app-stripe-elements>
