<form (submit)="onSubmitPayment($event)">
  <div [hidden]="(paymentProcessing$ | async)" class="credit-card-details-group"  fxLayout="column" fxLayoutAlign="center center">
    <div appMatElevation class="card-element-container" [ngClass]="{'processing-error': (paymentResponse$ | async)?.stripeErrorType}">
      <div class="card-element" #cardElement>
        <!-- A Stripe Element will be inserted here. -->
      </div>
      <!-- Used to display Element errors. -->
    </div>
    <div>
      <p class="card-input-errors">{{ cardErrors }}</p>
    </div>
    <div *ngIf="stripeErrorMessage" class="payment-failed">{{ stripeErrorMessage }}</div>
    <div fxFlexAlign="center" class="buy-button-container" fxLayout="column" fxLayoutAlign="center center">
      <button [disabled]="paymentSubmitted || billingDetailsForm.invalid || paymentSucceeded" class="buy-button" mat-raised-button color="primary" type="submit">
        <span *ngIf="billingDetailsForm.valid">Get {{ product.name }}</span>
        <span *ngIf="billingDetailsForm.invalid">Complete Form to Continue</span>
      </button>
      <div class="processing-hint">It can take up to 30 seconds to process your order, so please be patient.</div>
    </div>
  </div>

  <div *ngIf="(paymentProcessing$ | async)" class="payment-processing-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="payment-processing-text">Payment Processing -- Please Be Patient</div>
    <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
  </div>
  
  
</form>