@import '../../../../../../variables';

:host {
  width: 100%;
}

.credit-card-details-group {
  width: 100%;
  max-width: 480px;
}

.processing-error {
  border: 2px solid $warn;
}

.card-element-container {
  width: 100%;
  border-radius: 3px;
}

.card-element {
  padding: 16px;
}

.card-input-errors {
  color: $warn;
}

.buy-button {
  width: $desktop-buy-button-width;
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 1.1em;
  font-weight: $font-weight-regular;
  height: 2.5em;
}

.processing-hint {
  font-size: 0.75em;
  opacity: $opacity-medium;
  text-align: center;
}

.payment-failed {
  color: $warn;
  text-align: center;
}

@media screen and (max-width: $mobile-cutoff-width) {
 
  .buy-button {
    width: 100%;
    font-size: 1em;
    font-weight: $font-weight-medium;
    height: $mobile-buy-button-height;
  }

}

@media screen and (max-width: 350px) {
 
  .card-element {
    padding: 16px 4px 16px 4px;
  }
}
